.inspector-panel {
  td {
    padding: 5px;
    vertical-align: top;
    border-left: 0;
    border-right: 0;
    word-break: break-all;
  }

  td:first-child {
    text-align: left;
    width: 40%;
    word-break: normal;
    border: none;
  }

  td:last-child {
    overflow: hidden;
    width: 60%;
    border: none;
  }

  tr {
    border-top: none;
    border-bottom: var(--ifm-table-border-width) solid
      var(--ifm-table-border-color);
  }

  td.expanded {
    max-height: unset;
    white-space: normal;
  }

  td.collapsed {
    max-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

button.expand {
  border: none;
  border-radius: 50%;
  padding: 0;
  height: 26px;
  width: 26px;
  justify-content: center;
  background-color: unset;
}

button.expand:focus {
  outline: none;
}

div.first-child {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

svg.ec-icon {
  padding-top: 1px;
  fill: var(--ifm-color-secondary-darkest);
}
